.message {
    margin: 10px 0;
    order: 0;
    display: block;
    margin-left: auto;
    width: 700px
}


.imageAndText {
    text-align: end;
    display: flex;
    margin-left: auto;

}

.imageAndText img {
    order: 1;
    max-width: 135px;
    height: auto;
}

.text {
    background: #0059b3;
    border-radius: 20px;
    color: white;
    min-width: 500px
}

.text:after {

}

.name {
    text-align: end;
    position: relative;
    right: 20px;
}

.messageText {
    margin: 10px
}

.time {
margin-left: 550px;
}