.hw15{
    position: relative;
}

.opacity{
    opacity: 0.5;
}

.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    opacity: 1;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}