.sendForm {
display: flex;
    justify-content: space-between;
}

.textarea {
    width: 700px;
    height: 35px !important;
    border-radius: 25px;
    place-content: center;
}

.textarea::placeholder{
    font-size: 14px;
padding: 0px 20px;
    vertical-align: center;
}
.button {
background: #0059b3;
    border-radius: 17px;
    color:white;
    width: 100px;
    height: 35px;
    border: inherit;
}

.button:hover {

}
.button:active {

}
