.button {
    margin: 10px;
    border: inherit;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 24px;
    border-radius: 3px;
    color:white;
}

.disabled {
background: #004D99;
    opacity: 0.5;
    color:#002E5C
}

.secondary {
border:1px solid #0066CC;
    color:#0066CC;
    background: white;

}

.default {
    background: #0066CC;
    padding: 5px 24px;
    border-radius: 3px;

}

.red {
    background: #CC1439;
    padding: 5px 24px;
    border-radius: 3px;

}

.button:hover{
    filter:brightness(120%);
    cursor: pointer;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.disabled:hover{
    filter:brightness(100%);
    cursor: none;
}



.default:active {
    filter:brightness(90%);
}

.secondary:active {
    filter:brightness(90%);
}

.red:active {
    filter:brightness(90%);
}

.button:disabled {
}
