.button {
    border: inherit;
}

.disabled {
    background: yellow;
    color:yellow;
}

.secondary {
    background: gray;
    color:gray;
}

.default {
    background: blue;
    color:blue;
}

.red {
    background: red;
    color:red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
